In [1]:
import pandas

In [2]:
inputs = pandas.read_csv('inputs.csv',names=['id','tx_id','output_id'])
outputs = pandas.read_csv('outputs.csv',names=['id','tx_id','pk_id','value'])
transactions = pandas.read_csv('transactions.csv',names=['id','block_id','is_coinbase'])

In [5]:
transactions.head(200)

      id  block_id  is_coinbase
0      1         0            1
1      2         1            1
2      3         2            1
3      4         3            1
4      5         4            1
5      6         5            1
6      7         6            1
7      8         7            1
8      9         8            1
9     10         9            1
10    11        10            1
11    12        11            1
12    13        12            1
13    14        13            1
14    15        14            1
15    16        15            1
16    17        16            1
17    18        17            1
18    19        18            1
19    20        19            1
20    21        20            1
21    22        21            1
22    23        22            1
23    24        23            1
24    25        24            1
25    26        25            1
26    27        26            1
27    28        27            1
28    29        28            1
29    30        29            1
..   ...       ...          ...
170  171       170            1
171  172       170            0
172  173       171            1
173  174       172            1
174  175       173            1
175  176       174            1
176  177       175            1
177  178       176            1
178  179       177            1
179  180       178            1
180  181       179            1
181  182       180            1
182  183       181            1
183  184       181            0
184  185       182            1
185  186       182            0
186  187       183            1
187  188       183            0
188  189       184            1
189  190       185            1
190  191       186            1
191  192       187            1
192  193       187            0
193  194       188            1
194  195       189            1
195  196       190            1
196  197       191            1
197  198       192            1
198  199       193            1
199  200       194            1

[200 rows x 3 columns]

In [11]:
transactions.head(172)

      id  block_id  is_coinbase
0      1         0            1
1      2         1            1
2      3         2            1
3      4         3            1
4      5         4            1
5      6         5            1
6      7         6            1
7      8         7            1
8      9         8            1
9     10         9            1
10    11        10            1
11    12        11            1
12    13        12            1
13    14        13            1
14    15        14            1
15    16        15            1
16    17        16            1
17    18        17            1
18    19        18            1
19    20        19            1
20    21        20            1
21    22        21            1
22    23        22            1
23    24        23            1
24    25        24            1
25    26        25            1
26    27        26            1
27    28        27            1
28    29        28            1
29    30        29            1
..   ...       ...          ...
142  143       142            1
143  144       143            1
144  145       144            1
145  146       145            1
146  147       146            1
147  148       147            1
148  149       148            1
149  150       149            1
150  151       150            1
151  152       151            1
152  153       152            1
153  154       153            1
154  155       154            1
155  156       155            1
156  157       156            1
157  158       157            1
158  159       158            1
159  160       159            1
160  161       160            1
161  162       161            1
162  163       162            1
163  164       163            1
164  165       164            1
165  166       165            1
166  167       166            1
167  168       167            1
168  169       168            1
169  170       169            1
170  171       170            1
171  172       170            0

[172 rows x 3 columns]

In [14]:
import numpy as np
from numpy import genfromtxt

inputs = genfromtxt('inputs.csv', delimiter=',', dtype='int')
outputs = genfromtxt('outputs.csv', delimiter=',', dtype='int')
transactions = genfromtxt('transactions.csv', delimiter=',', dtype='int')

utxo = []

temp_block = 0
temp_coinbase = False
#loops through all transactions
for row in transactions:
	#different block
	if temp_block != row[1]:
		if row[1] != temp_block + 1:
			print("Invalid Block! Block # %d doesn't exist." % (temp_block + 1))
		temp_block = row[1]
		temp_coinbase = False

	#check if coinbase
	if (row[2] == 1):
		if temp_coinbase:
			print("Invalid Block! Multiple coinbase transactions for block # %d" % row[1])
		else:
			temp_coinbase = True
			
			#need to keep track of value of the transaction from outputs file
			utxo.append(row)
	else:
		if not temp_coinbase:
			print("Invalid Block! No coinbase transaciton for block # %d" %row[1])
		#need to find which previous tx this tx is part of

Invalid Block! Multiple coinbase transactions for block # 52534
Invalid Block! Block # 91857 doesn't exist.